



.quote-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
   
  
    background-color: transparent;
    border-radius: 8px solid black;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 16rem;
  
  }
  
  .quote-title {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    
  }
  
  .quote-text {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  